.Checkout {
    display: grid;
    justify-content: center;
    grid-template-areas:
    'tit tit tit'
    'steps steps steps';
    text-align: center;
    color: white;
      .Checkout__tittle {
        grid-area: tit;
        font-size: 34px;
        margin-bottom: 19px;
      }
      .Steps {
        grid-area: steps;
        line-height: 1.2;
        font-weight: 500;
        font-size: 14px;
      }
      .MuiStepConnectorLineHorizontal {
        border-top-style: solid;
        border-top-width: 1px;
        width: 37px;
        margin: 0 7px;
      }
      .MuiStepConnectorLine {
        display: block;
        border-color: #757575;
  }
}
